
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 10px;
}
*{

  font-family: 'Outfit', sans-serif;
}
html {
 
  scrollbar-gutter: stable;
}